.discount {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-banner{
        width: 71.06rem;
        height: 11.88rem;
        background-color: rgba(0, 0, 0, 0.85);
        color: white;
        font-size: 2.81rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &-container{
            display: flex;
            justify-content: center;
        }
    }

    &-container{
        align-self: center;
        margin-left: 6.25rem;
    }

    &-align{
        display: flex;
        padding-top: 3rem;
    }
}

.product {
    width: 15rem;
    align-self: center;
    padding-left: 3rem;

    &-align {
        display: flex;
        align-items: center;
    }

    &-container {
        display: flex;
        box-sizing: border-box;
        justify-content: space-evenly;

        &-v2{
            background-color: #fff0ed;
            display: flex;
        }
    }

    &-name {
        margin: 0;
        font-weight: bold;
    }

    &-image {
        justify-self: center;
        padding-top: 2.5rem;
    }

    &-card {
        width: 27.19rem;
        height: 27.69rem;
        border-radius: 0.625rem;
        box-shadow: 0 0.31rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
        display: inline-grid;
    }
    &-price {
        color: #5bacc3;
        text-align: center;
        margin: 0;
        align-self: center;
        font-size: 3rem;
    }
}

.hero {

    &-image{
        display: flex;
        justify-content: space-around;
    }
    &-description {
        width: 41%;
        align-self: center;
    }

    &-paragraph {
        margin: 0;
        font-size: 2rem;
        padding-top: 2rem;
    }
}

.button {

    &-view-all {
        display: flex;
        justify-content: center;
        padding-top: 3.13rem;
        }

    &-learn-more {
        margin-top: 2rem;
        display: flex;
    }

    &-shop-now {
        margin-top: 2rem;
        display: flex;
    }
    
    &-outline {
        &-viewall{
            width: 10.5rem;
            height: 2.5rem;
            outline: 0.125rem solid black;
            outline-offset: 0.31rem;
            position: relative;
            right: 10px;
        }

        &-shopnow {
            width: 10.5rem;
            height: 2.5rem;
            outline: 0.125rem solid black;
            outline-offset: 0.31rem;
            position: relative;
            // right: 11.4rem;
        }

        &-learnmore {
            width: 10.5rem;
            height: 2.5rem;
            outline: 0.125rem solid black;
            outline-offset: 0.31rem;
            position: relative;
            // right: 11.4rem;
        }
    }
}

.about-us {
    display: contents;
    justify-content: space-between;
    width: 15%;

    &-icons {
        height: 3.13rem;
    }

    &-info{
        font-size: 2rem;
        width: 55%;
    }

    &-align {
        display: flex;
    }
}

.icons-container {
    display: flex;
    justify-content: space-between;
    width: 50%;

    &-outline {
        width: 420px;
        height: 420px;
        border: 0.25rem;
        outline: 0.25rem solid #5bacc3;
        position: relative;
        margin-top: -1rem;
        margin-top: -3rem;
        right: 43px;
    }

    &-background {
        background-image: url(../../assets/coldbrewbackground.png);
        width: 435px;
        height: 435px;
        background-size: cover;
        display: flex;
        align-items: center;
        margin-right: 10rem;
        margin-top: 4rem;
        justify-content: center;
    }

    &-image {
        position: absolute;
        transform: rotate3d(0,0,1,0deg);
        perspective: 100px;
        // padding-left: 120px;
        z-index: 10;
        &:hover {
            transform: rotate3d(0,0,1,360deg);
            animation-iteration-count: infinite;
            animation-name: rotate; 
            animation-timing-function: linear;
            animation-duration: 1.5s;
        }

    }
}

@keyframes rotate{ 
    from{
        transform: rotate3d(0,0,1,0deg);
    }
    to{
        transform:rotate3d(0,0,1,360deg);
    }
} 

.footer {
    display: flex;
    justify-content: space-between;

    &-image {
        height: 7.5rem;

        &-left {
            display: flex;
            padding-left: 2rem;
            position: relative;
            bottom: 3rem;
        }

        &-right {
            margin-top: 7.5rem;
            position: relative;
            left: 2rem;
        }
    }

    &-address {
        margin-right: 18.5rem;
    }

    &-hours {
        margin-right: 18.5rem;
    }
}
