.discount {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-banner{
        width: 71.06rem;
        height: 11.88rem;
        background-color: rgba(0, 0, 0, 0.85);
        color: white;
        font-size: 2.81rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-container{
        align-self: center;
        margin-left: 100px;
    }
}

.product {
    width: 15rem;
    align-self: center;
    padding-left: 3rem;

    &-align {
        display: flex;
        align-items: center;
    }

    &-container {
        display: flex;
        box-sizing: border-box;
        justify-content: space-evenly;

        &-v2{
            background-color: #fff0ed;
            display: flex;
        }
    }

    &-name {
        margin: 0;
        font-weight: bold;
    }

    &-image {
        justify-self: center;
        padding-top: 2.5rem;
    }

    &-card {
        width: 27.19rem;
        height: 27.69rem;
        border-radius: 0.625rem;
        box-shadow: 0 0.31rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
        display: inline-grid;
    }
    &-price {
        color: #5bacc3;
        text-align: center;
        margin: 0;
        align-self: center;
        font-size: 3rem;
    }
}

.hero-image{
    display: flex;
    justify-content: space-around;
    &-description {
        width: 25%;
    }
}

.button {

    &-view-all {
        display: flex;
        justify-content: center;
        padding-top: 3.13rem;
        }

    &-learn-more {
        margin-top: 2rem;
        display: flex;
    }
    
    &-outline {
        &-va{
            width: 15.5rem;
            height: 10rem;
            border: 4px;
            outline: 4px solid #5bacc3;
            outline-offset: 0.94rem;
            position: relative;
            margin-top: 190px;
            margin-right: 33px;
        }

        &-shopnow {
            width: 15.5rem;
            height: 10rem;
            border: 4px;
            outline: 4px solid #5bacc3;
            outline-offset: 0.94rem;
            position: relative;
            margin-top: 190px;
            margin-right: 33px;
        }

        &-learnmore {
            width: 15.5rem;
            height: 10rem;
            border: 4px;
            outline: 4px solid #5bacc3;
            outline-offset: 0.94rem;
            position: relative;
            margin-top: 190px;
            margin-right: 33px;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.about-us {
    display: contents;
    justify-content: space-between;
    width: 15%;

    &-icons {
        height: 3.13rem;
    }

    &-info{
        font-size: 2rem;
        width: 34%;
    }

    &-align {
        display: flex;
    }
}

.icons-container {
    display: flex;
    justify-content: space-between;
    width: 30%;

    &-outline {
        width: 15.5rem;
        height: 10rem;
        border: 4px;
        outline: 4px solid #5bacc3;
        outline-offset: 0.94rem;
        position: relative;
        margin-top: 190px;
        margin-right: 33px;
    }

    &-background {
        background-image: url(../../assets/coldbrewbackground.png);
    }
}