.discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discount-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 6.25rem;
}

.discount-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3rem;
}

.banner {
  background-color: white;
  width: 90rem;
  text-align: center;
  max-width: 71.063rem;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 2.813rem;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 150px;
  margin-bottom: 150px;
  -webkit-animation-name: discount;
          animation-name: discount;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.banner .strong {
  font-weight: bold;
}

@-webkit-keyframes discount {
  0% {
    background-color: rgba(0, 0, 0, 0.85);
  }
  25% {
    background-color: #5BACC3;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.85);
  }
  75% {
    background-color: #5BACC3;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.85) d;
  }
}

@keyframes discount {
  0% {
    background-color: rgba(0, 0, 0, 0.85);
  }
  25% {
    background-color: #5BACC3;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.85);
  }
  75% {
    background-color: #5BACC3;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.85) d;
  }
}

.product {
  width: 15rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 3rem;
}

.product-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.product-container-v2 {
  background-color: #fff0ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-name {
  margin: 0;
  font-weight: bold;
}

.product-image {
  -ms-grid-column-align: center;
      justify-self: center;
  padding-top: 2.5rem;
}

.product-card {
  width: 27.19rem;
  height: 27.69rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 0.31rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.31rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
  display: -ms-inline-grid;
  display: inline-grid;
}

.product-price {
  color: #5bacc3;
  text-align: center;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3rem;
}

.hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero-description {
  width: 41%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-paragraph {
  margin: 0;
  font-size: 2rem;
  padding-top: 2rem;
}

.button-viewall-container {
  position: relative;
  margin-bottom: 80px;
  z-index: 1;
}

.button-learnmore-container {
  position: relative;
  z-index: 1;
}

.button-shopnow-container {
  position: relative;
  z-index: 1;
}

.button-background {
  width: 180px;
  height: 55px;
  left: 5px;
  bottom: -59px;
  z-index: 2;
  margin: auto;
  position: absolute;
  background-color: #5bacc3;
}

.about-us {
  display: contents;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
}

.about-us-icons {
  height: 3.13rem;
}

.about-us-info {
  font-size: 2rem;
  width: 55%;
}

.about-us-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.icons-container-outline {
  width: 420px;
  height: 420px;
  border: 0.25rem;
  outline: 0.25rem solid #5bacc3;
  position: relative;
  margin-top: -1rem;
  margin-top: -3rem;
  right: 43px;
}

.icons-container-background {
  background-image: url(../../assets/coldbrewbackground.png);
  width: 435px;
  height: 435px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10rem;
  margin-top: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-container-image {
  position: absolute;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
          transform: rotate3d(0, 0, 1, 0deg);
  -webkit-perspective: 100px;
          perspective: 100px;
  z-index: 10;
}

.icons-container-image:hover {
  -webkit-transform: rotate3d(0, 0, 1, 360deg);
          transform: rotate3d(0, 0, 1, 360deg);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
            transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
            transform: rotate3d(0, 0, 1, 360deg);
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-image {
  height: 7.5rem;
}

.footer-image-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  position: relative;
  bottom: 3rem;
}

.footer-image-right {
  margin-top: 7.5rem;
  position: relative;
  left: 2rem;
}

.footer-address {
  margin-right: 18.5rem;
}

.footer-hours {
  margin-right: 18.5rem;
}
/*# sourceMappingURL=index.css.map */