body {
    margin: 0;
}

h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3.75rem;
    font-weight: 100;
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3.75rem;
    font-weight: 100;
}

h3{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.06rem;
    font-weight: 100;
}

.footer-heading{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.06rem;
    font-weight: 100;
}

.nav {

    &-heading{
        font-family: Helvetica, Arial, sans-serif;
        font-size: 3.125rem;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-link{
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1.31rem;
        list-style-type: none;
        text-decoration: none;
        /* margin-right: 3.13rem; */
        align-items: center;
        display: inline-flex;
        margin-right: 3.13rem;
    }
    &-logo {
        display: flex;
        align-items: center;
    }
}


.button{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.31rem;
}

.discount-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.81rem;
}

.small-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    margin-top: 0.5rem;
}

.text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.5rem;
}

#button{
    width: 11.25rem;
    height: 3.44rem;
    color: white;
    background-color: #5bacc3;
    border-width: 0.13rem;
    outline-offset: 0.31rem;
}

 .nav-container {
    display: inline-flex;
    align-items: center;
    background-color: #fff0ed;
    width: 100%;
    justify-content: space-between;
}

.active{
    color: #5bacc3;
}

.divider{
    color: #5bacc3;
}

.product {
    &-card {
        &-one {
            background-color: #fff0ed;
            padding: 4rem 0 2rem 0;
        }
        
        &-two {
            background-color: #f7f7f7;
            padding: 1rem 0 1rem 0;
        }
    }
    
    &-heading {
        text-align: center;
    }
    
    &-price {
        color: #5bacc3;
        text-align: center;
        margin: 0;
    }
}



.margin {
    margin: 0;
}